
/*
***********************************************
_____       _     _____ _         _ 
|     |___ _| |___|   __| |_ _ _ _| |
|   --| . | . | -_|__   |  _| | | . |
|_____|___|___|___|_____|_| |___|___|
Open-Source online text editor

* Antoine LANDRIEUX
* https://github.com/AntoineLandrieux/CodeStud/

***********************************************
*/

*,
*::before,
*::after {
    inset: 0;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    color: #ffffff;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    flex-direction: row;
    background-color: #24272E;
}

nav#sidebar {
    flex: 1;
    height: 100vh;
    max-width: 50px;
    min-width: 50px;
    background-color: #17191d;
    outline: 1px solid #00000050;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

nav#sidebar .btn {
    justify-content: start;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: #17191d4d;
    border-radius: 5px;
    margin: 10px;
}

div#container {
    flex: 10;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

div#files {
    flex: 1.25;
    max-height: 75px;
    min-height: 50px;
    background-color: #17191d;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scrollbar-color: #fff #1E2227;
    scrollbar-width: thin;
    align-items: center;
}

button.file {
    flex: 1;
    min-width: max-content;
    max-width: max-content;
    background-color: #17191d;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    font-size: min(max(3vmin, 15px), 30px);
    margin-right: 1px;
}

button.selected {
    background-color: #24272E;
}

button.file::before {
    content: "";
    background: url("../resources/img/file.svg") no-repeat;
    background-size: cover;
    height: 25px;
    width: 25px;
    transform: translateY(5px);
    margin-right: 10px;
    display: inline-block;
}

div#container #code {
    flex: 10;
    resize: none;
    padding: 10px;
    tab-size: 4;
    overflow: scroll;
    scrollbar-color: #fff #1E2227;
    scrollbar-width: thin;
    background-color: #24272E;
    display: block;
    font-size: min(max(2vmin, 15px), 30px);
}

div#container #console {
    width: 100%;
    flex: 5;
    display: flex;
    max-height: 40vh;
    flex-direction: column;
    align-items: center;
}

#console input {
    flex: 1;
    width: 100%;
    font-size: min(max(2vmin, 15px), 30px);
    outline: 1px solid #353535;
    background-color: #17191d;
}

#console #out {
    flex: 10;
    width: 100%;
    padding: 10px;
    user-select: none;
    outline: 1px solid #302e2e;
    font-size: min(max(2vmin, 15px), 30px);
    background-color: #17191d;
    overflow-y: scroll;
    scrollbar-color: #fff #1E2227;
    scrollbar-width: thin;
    text-wrap: wrap;
    background-color: #0f1013;
}

#console #out::after {
    content: "_";
    font-weight: 1000;
    animation: write .6s infinite alternate;
}

.hide {
    display: none !important;
}

@keyframes write {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}