
*, *::before, *::after {
    inset: 0;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    color: #ffffff;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    flex-direction: row;
    background-color: #24272E;
}

nav#sidebar {
    flex: 1;
    height: 100vh;
    max-width: 100px;
    min-width: 50px;
    background-color: #1E2227;
    outline: 1px solid #00000050;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav#sidebar ul {
    flex: 1;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

nav#sidebar ul .btn {
    margin-top: 15px;
    width: 100%;
    background-color: #17191d4d;
    border-radius: 5px;
}

div#container {
    flex: 10;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

div#files {
    flex: 1.25;
    max-height: 75px;
    min-height: 50px;
    background-color: #151515;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scrollbar-color: #fff #1E2227;
    scrollbar-width: thin;
    align-items: center;
}

button.file {
    flex: 1;
    min-width: max-content;
    max-width: max-content;
    background-color: #17191d;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    font-size: min(max(3vmin, 15px), 30px);
    margin-right: 1px;
}

button.selected {
    background-color: #24272E;
}

button.file::before {
    content: "";
    background: url("../resources/img/file.svg") no-repeat;
    background-size: cover;
    height: 25px;
    width: 25px;
    transform: translateY(5px);
    margin-right: 10px;
    display: inline-block;
}

div#container #code {
    flex: 10;
    resize: none;
    overflow: scroll;
    scrollbar-color: #fff #1E2227;
    scrollbar-width: thin;
    background-color: #24272E;
    display: block;
    font-size: min(max(2vmin, 15px), 30px);
}
